<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Fraud Detection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        
    </style>
</head>
<body>
    <div class="container">
        <h1>E-commerce Fraud Detection</h1>

        {% if prediction is not none %}
            <h2 class="animate__animated animate__bounce">Prediction: {{ "Fraud" if prediction == 1 else "Legal" }}</h2>
        {% endif %}

        <form action="/predict" method="post">
            <fieldset>
                <legend>Customer Details</legend>
                <div class="form-row">
                    <!-- Source -->
                    <div class="form-group col-md-3">
                        <label for="source">Source:</label>
                        <select class="form-control" id="source" name="source" required>
                            <option selected disabled>----select option----</option>
                            <option value="0" {% if source == "0" %}selected{% endif %}>Seo</option>
                            <option value="1" {% if source == "1" %}selected{% endif %}>Ads</option>
                            <option value="2" {% if source == "2" %}selected{% endif %}>Direct</option>
                        </select>
                    </div>

                    <!-- Browser -->
                    <div class="form-group col-md-3">
                        <label for="browser">Browser:</label>
                        <select class="form-control" id="browser" name="browser" required>
                            <option selected disabled>----select option----</option>
                            <option value="0" {% if browser == "0" %}selected{% endif %}>Chrome</option>
                            <option value="1" {% if browser == "1" %}selected{% endif %}>Opera</option>
                            <option value="2" {% if browser == "2" %}selected{% endif %}>Safari</option>
                            <option value="3" {% if browser == "3" %}selected{% endif %}>IE</option>
                            <option value="4" {% if browser == "4" %}selected{% endif %}>Firefox</option>
                        </select>
                    </div>

                    <!-- Sex -->
                    <div class="form-group col-md-3">
                        <label for="sex">Sex:</label>
                        <select class="form-control" id="sex" name="sex" required>
                            <option selected disabled>----select option----</option>
                            <option value="1" {% if sex == "1" %}selected{% endif %}>Male</option>
                            <option value="0" {% if sex == "0" %}selected{% endif %}>Female</option>
                        </select>
                    </div>

                    <!-- Age -->
                    <div class="form-group col-md-3">
                        <label for="age">Age:</label>
                        <input type="number" class="form-control" id="age" name="age" value="{{ age }}" required>
                    </div>                
                </div>
            </fieldset>

            <fieldset>
                <legend>Transaction Details</legend>
                <div class="form-row">
                    <!-- Country Name -->
                    <div class="form-group col-md-3">
                        <label for="country_name">Country Name:</label>
                        <select name="country_name" id="country_name" class="form-control">
                            {% for country in country_names %}
                                <option value="{{ country }}" {% if country == country_name %}selected{% endif %}>{{ country }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- No of Device Occur -->
                    <div class="form-group col-md-3">
                        <label for="n_device_occur">No of Device Occur:</label>
                        <input type="number" class="form-control" id="n_device_occur" name="n_device_occur" value="{{ n_device_occur }}" required>
                    </div>

                    <!-- Signup Month -->
                    <div class="form-group col-md-3">
                        <label for="signup_month">Signup Month:</label>
                        <input type="number" class="form-control" id="signup_month" name="signup_month" value="{{ signup_month }}" required>
                    </div>

                    <!-- Signup Day -->
                    <div class="form-group col-md-3">
                        <label for="signup_day">Signup Day:</label>
                        <input type="number" class="form-control" id="signup_day" name="signup_day" value="{{ signup_day }}" required>
                    </div>
                </div>

                <div class="form-row">
                    <!-- Signup Day Name -->
                    <div class="form-group col-md-3">
                        <label for="signup_day_name">Signup Day Name:</label>
                        <select name="signup_day_name" id="signup_day_name" class="form-control">
                            {% for day in signup_day_names %}
                                <option value="{{ day }}" {% if day == signup_day_name %}selected{% endif %}>{{ day }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Purchase Month -->
                    <div class="form-group col-md-3">
                        <label for="purchase_month">Purchase Month:</label>
                        <input type="number" class="form-control" id="purchase_month" name="purchase_month" value="{{ purchase_month }}" required>
                    </div>

                    <!-- Purchase Day -->
                    <div class="form-group col-md-3">
                        <label for="purchase_day">Purchase Day:</label>
                        <input type="number" class="form-control" id="purchase_day" name="purchase_day" value="{{ purchase_day }}" required>
                    </div>

                    <!-- Purchase Day Name -->
                    <div class="form-group col-md-3">
                        <label for="purchase_day_name">Purchase Day Name:</label>
                        <select name="purchase_day_name" id="purchase_day_name" class="form-control">
                            {% for day in purchase_day_names %}
                                <option value="{{ day }}" {% if day == purchase_day_name %}selected{% endif %}>{{ day }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <!-- Purchase Over Time -->
                    <div class="form-group col-md-3">
                        <label for="purchase_over_time">Purchase Over Time:</label>
                        <input type="number" step="0.01" class="form-control" id="purchase_over_time" name="purchase_over_time" value="{{ purchase_over_time }}" required>
                    </div>
                </div>
            </fieldset>

            <button type="submit" class="btn btn-primary mt-4">Predict</button>
        </form>
    </div>

    <footer class="footer">
        <p>&copy; 2025 E-commerce Fraud Detection App</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
