/* Background Image */
body {
    background-image: url('https://images.pexels.com/photos/3769747/pexels-photo-3769747.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-attachment: fixed;
    color: #f8f9fa;
    font-family: Arial, sans-serif;
}

/* Container and Card Style */
.container {
    max-width: 900px;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #ffd700;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #ffc107;
    margin-top: 20px;
}

/* Button Style */
.btn-primary {
    background-color: #007bff;
    border-color: #0056b3;
    transition: all 0.3s ease-in-out;
    width: 100%;
    font-size: 18px;
    border-radius: 15px;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Footer Style */
.footer {
    text-align: center;
    margin-top: 30px;
    color: #cccccc;
    font-size: 14px;
}

.form-control{
    border-radius: 10px;
}

/* Input and Select Styles */
.form-control, .form-select {
    background-color: #696969;
    color: #f8f9fa;
    border: 1px solid #494949;
}

.form-control::placeholder, .form-select::placeholder {
    color: #ccc;
}

label {
    font-weight: bold;
    color: #ffc107;
}

/* Animation for Prediction Result */
.animate__animated.animate__bounce {
    animation: bounceIn 2s infinite alternate;
}

/* Bounce Animation */
@keyframes bounceIn {
    0% { transform: scale(1); }
    100% { transform: scale(1.05); }
}

/* Fieldset and form styling */
fieldset {
    border: 1px solid #f8f9fa;
    padding: 20px;
    border-radius: 8px;
}

legend {
    color: #ffc107;
    font-weight: bold;
}

/* Hide spin buttons in Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none; /* Add this line */
    margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Add this line */
}

/* Hide spin buttons in Internet Explorer 10+ */
input[type="number"]::-ms-clear {
    display: none;
}